html
    font-family: Arial, Helvetica, sans-serif
    header
        background-color: #444444;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div 
            .logo
                padding: 0px 35px 0px 35px;
                margin: 20px 0;
                border-right: 2px solid #22bce0;
            img 
                height: 85px;
            .encabezado
                margin: 10px 0;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .titulo
                    color: white;
                .clase
                    color: white;
                    margin-top: 5px;
                    h2
                        font-size: 18px;
                    h3
                        font-size: 14px;
                        font-style: italic;
                        font-weight: bold;
                        color: #22bce0;
                .fuente
                    color: white;
                    display: flex;
                    margin-top: 5px;
                    align-items: first baseline;
                    p
                        margin-right: 5px;
                        color: #dd4f24;
                    p:first-child
                        font-size: 12px;
                    p:last-child
                        font-size: 20px;
            .avatar-publicar
                display: flex;
                align-items: center;
                height: 80px;
                border-radius: 50%;
                .avatar
                    display: flex;
                    align-items: center;
                    .menu
                        color: white;
                        height: fit-content;
                        padding: 5px 8px;
                        margin-left: -5px; 
                        z-index: 1;
                        background-color: #dd4f24;
                    .img-avatar
                        z-index: 20;
                        img 
                            height: 80px;
                            border-radius: 50%;
                *
                    height: fit-content;
                .btn
                    background-color: #dd4f24;
                    padding: 5px 30px;
                    margin-right: -5px;
                    z-index: 1;
                    p
                        color: white;
                        font-style: italic;

    div:first-child
        display: flex;
        align-items: center;